# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
SUPABASE_SERVICE_ROLE_KEY=eyJ...
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.xxxx.supabase.co:5432/postgres

# Resend (email)
RESEND_API_KEY=re_xxxx
RESEND_FROM=ABIPTOM SARL <info@abiptom.gw>

# App
NEXTAUTH_URL=http://localhost:3000
